<template id="tmpl">
  <style>
  .pokemaster {
    height: 160px;
    width: 140px;
    background-image: url('../img/pokemaster-sprite.svg');
    background-position: -708px 0%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .pokemaster--down {
    background-position: -868px 0%;
    animation: pokemaster-go-down 1s linear 0s infinite;
  }
  
  /*@keyframes pokemaster-go-down {
    0% {
      background-position: -188px 50%;
    }
    49.99999999% {
      background-position: -188px 50%;
    }
    50% {
      background-position: -20px 50%;
    }
    100% {
      background-position: -20px 50%;
    }
  }*/


  .pokemaster--up {
    background-position: -188px 50%;
    animation: pokemaster-go-up 1s linear 0s infinite;
  }
  
  /*@keyframes pokemaster-go-up {
    0% {
      background-position: -188px 50%;
    }
    49.99999999% {
      background-position: -188px 50%;
    }
    50% {
      background-position: -20px 50%;
    }
    100% {
      background-position: -20px 50%;
    }
  }*/



  .pokemaster--left {
    background-position: -188px 50%;
    animation: pokemaster-go-left 1s linear 0s infinite;
  }
  
  /*@keyframes pokemaster-go-left {
    0% {
      background-position: -188px 50%;
    }
    49.99999999% {
      background-position: -188px 50%;
    }
    50% {
      background-position: -20px 50%;
    }
    100% {
      background-position: -20px 50%;
    }
  }*/



  .pokemaster--right {
    background-position: -188px 50%;
    animation: pokemaster-go-right 1s linear 0s infinite;
  }
  
  /*@keyframes pokemaster-go-right {
    0% {
      background-position: -188px 50%;
    }
    49.99999999% {
      background-position: -188px 50%;
    }
    50% {
      background-position: -20px 50%;
    }
    100% {
      background-position: -20px 50%;
    }
  }*/
  </style>
  <div class="pokemaster"></div>
</template>
<script>
(function() {

  var thatDoc = document.currentScript.ownerDocument;
  var tmpl = thatDoc.querySelector('template').content;
 var pokemasterDistanceY = 0;

  var pokemonMasterPrototype = Object.create(HTMLElement.prototype);

  pokemonMasterPrototype.createdCallback = function() {
    var clone = thatDoc.importNode(tmpl, true);
    this.appendChild(clone);
    this.setAttribute('move', 'stay');
  };

  pokemonMasterPrototype.attachedCallback = function() {
    var el = this;
    window.addEventListener('keydown', function(event) {
      switch(event.code){
        case 'ArrowDown': 
          el.setAttribute('move', 'down');
          break;
        case 'ArrowUp': 
          el.setAttribute('move', 'up');
          break;
        case 'ArrowLeft': 
          el.setAttribute('move', 'left');
          break;
        case 'ArrowRight': 
          el.setAttribute('move', 'right');
          break;
        default:
          el.setAttribute('move', 'stay');
          break;
      }

    });
    window.addEventListener('keyup', function(event) {
      el.setAttribute('move', 'stay');
    });
  };

  // pokemonMasterPrototype.detachedCallback = function() {};
  // pokemonMasterPrototype.attributeChangedCallback = function(name, oldValue, newValue) {
  //   if (name === 'move') {
      
  //   }
  // };
  var elem = document.registerElement('pokemon-master', {
    prototype: pokemonMasterPrototype
  });

}());
</script>
